* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM sans', sans-serif;
}

body {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 50px;
  font-size: 2rem;
}

#root table {
  width: 90%;
  border: 1px solid;
}

#root table thead {
  height: 50px;
}

.table-td {
  padding: 0 20px;
}

.table-button {
  padding: 0 20px;
  font-size: 1.5rem;
  border-radius: 3px;
  cursor: pointer;
}

.form-todo {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-todo .form-todo__input {
  width: 30%;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  font-size: 1.5rem;
}
.form-todo .form-todo__button {
  width: 10%;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-block-start: 10px;
}
